.buttonFloat{
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 50px;
    right: 50px;
    background-color: #0c9;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    align-items: center;
    justify-content: center;
    
}

.buttonFloat:hover{
    cursor: pointer;
    box-shadow: 4px 4px 6px #999;
}

.buttonFloat img{
    width: 35px;
    height: 35px;
    margin-top: 12px;
}
